@import url(http//fonts.googleapis.com/css?family=Open+Sans);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    height: 50px;
    background: black; /*Cambiar colores despues */
    color: pink;
    position: fixed; /* quedar pegado el menu */
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor{
    width: 98%;
    margin: auto;
}


h1{
   float: left;  
}

header .contenedor{
    display: table;
}

/*-----MENU----*/

#menu-bar{
    display: none;
}

header label{
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 50%;
    height: 42vh;
    background: black;
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a{
    display: block;
    color: pink;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid black;
}

.menu a:hover{
    background: black;
}

#menu-bar:checked ~ .menu{
    transform: translateX(-0%);
}


@media (min-width: 1024px) {

    h1{
        text-align: initial;
    }
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }

    .menu a {
        border: none;
    }
    

    header label {
        display: none;
    }

}


/*-----MAIN----*/

#Bienvenidos{
    text-align: center;
    margin-bottom: 40px; 
    margin-top: 31px; 
}

/*----Estilo de info---- */

.info__columna{
    background: rgb(255, 102, 128);
    color: pink;
    padding: 15px;
    margin-bottom: 30px;

}

.info__img{
    margin: auto;
    display: block;
}

/*-----Estilo de cursos-----*/

 .section__titulo{
    text-align: center;
    font-size: 40px;
    color: rgb(255, 102, 128);
}

.cursos__columna{
    position: relative;
    margin-bottom: 30px;
}

.cursos__descripcion{
    position: absolute;
    top:0;
    left:0;
    color: pink;
    background: rgb(0, 0, 0,0.5);
    width: 60%;
    height: 99%;
    padding: 5px;
}

.cursos_titulo{
    font-size: 25px;
    margin: 5px 0;
}

.cursos__img{
    width: 100%;  
}

/*----Estilo de footer--- */
.footer{
    background: black;
    color: pink;
    padding: 10px;
    text-align: center;
}

.icon-facebook{
	margin-bottom: 12px;
	display: inline-block;
    color:black;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: pink;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}

.icon-twitter{
	margin-bottom: 12px;
	display: inline-block;
    color:black;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: pink;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}

.icon-gplus{
	margin-bottom: 12px;
	display: inline-block;
    color:black;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: pink;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}

.button {
    color: black;
    padding: 1em 2em;
    margin: 1em;
    border: 0;
    cursor: pointer;
}

.button:hover {
    background-color: black;
    transition: 0.5s;
    color: pink;
}

/*---------------FORMULARIOS --------------------------- */
.form__top {
	width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem rgb(255, 102, 128);
	margin-bottom: 1rem;
}
.form__top2 {
	width: 100%;
	text-align: center;
	padding: 0rem 0 1rem;
	margin-bottom: 1rem;
}
.btn__form {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
} 
.btn__submit{
	background-color: pink;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid pink .2rem;
	transition: all .5s;
}
/*------Responsive----- */

@media screen and (min-width:480px){
    .info, .cursos{
        display: flex;
        justify-content: space-between;
    }

    .info__columna{
        width: 32%;
    }

    .info__titulo{
        font-size: 30px;
        margin: 5px 0;
    }

    .cursos{
        flex-wrap: wrap;
        margin-top: 0;
    }  

    .section__titulo{
        width: 100%; 
    }

    .cursos__columna{
        width: 49%;
    }

    .footer .social [class^="icon-"]{
        margin: 0 10px;
    }

}

@media(min-width:768px){
    .cursos_titulo{
        font-size: 40px;
    }
}

@media(min-width:1024px){

    .contenedor{
        width: 1000px;
    }
    .cursos_titulo{
        font-size: 50px;
    }

    .info__titulo{
        text-align: center;
        font-size: 40px;
    }

    .section__titulo{
        font-size: 50px;
        margin: 30px 0;
    }

    .cursos__descripcion{
        padding: 20px; 
    }

    .cursos__txt{
        font-size: 20px;
    }

    .info__columna{
        padding: 30px;
    }

}

@media(min-width:1280px){
    .contenedor{
        width: 1200px;
    }

}