@import url(http//fonts.googleapis.com/css?family=Open+Sans);

*{
	box-sizing: border-box;
}

body {
	font-size: 16px;
    font-family: 'Open Sans';	
}

.container {
	max-width: 450px;
	height: auto;
	background-color: pink;
	margin: 5% auto;
	padding-bottom: 1rem;
	margin-top: 100px;
	
}

.form__top {
	width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem rgb(216, 100, 252);
	margin-bottom: 1rem;
}

.form__top h2 {
	font-weight: bold;
	color: #CAC8C8;
	font-size: 18px;
}

h2 span {
	color: rgb(216, 100, 252);
}

.form__reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn__form {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

.input, .btn__submit, .btn__reset{
	background-color: pink;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid pink .2rem;
	transition: all .5s;
}

.input:focus {
	border-bottom: solid rgb(216, 100, 252) .2rem;
}

.btn__submit, .btn__reset {
	width: 40%;
	border-bottom: none;
	background-color: rgb(99, 24, 238);
	color: pink;
}

.btn__reset {
	background-color: rgb(216, 100, 252);
}

.btn__submit:hover {
	background-color: rgb(99, 24, 238)9;
}

.btn__reset:hover{
	background-color: rgb(216, 100, 252);
}
/*----MAIN----*/
.prueba{
	margin-top: 65px;
}

main{
	margin-top: 65px;
}

/*------Footer----*/
footer{
	text-align: center;
	background: black;
	padding: 10px;
	color: pink;
	margin-top: 500px;
}

.icon-facebook{
	margin-bottom: 12px;
	display: inline-block;
    color:black;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: pink;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}

.icon-twitter{
	margin-bottom: 12px;
	display: inline-block;
    color:black;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: pink;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}

.icon-gplus{
	margin-bottom: 12px;
	display: inline-block;
    color:black;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: pink;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}

.text-muted{
	font-size: 16px;
}


/*----------MAIN---------*/
@media (min-width: 1024px){
	footer{
		margin-top: 72px;
	}

	main{
		margin-bottom: -480px;
		margin-top: 81px;
	}

	.prueba{
		margin-bottom: -320px
	}   
} 